### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  

* The 20-24 group spent most of the money with most purchase count. In contrast, the group, who are elder than 40, spent lest money with the lest purchase amount. The 35-39 group has the highest average total purchase per person with $4.76.

* Although the price of Pursuit, Cudgel of Necromancy is very cheap, the purchase amount is not as many as Oathbreaker, Last Hope of the Breaking Storm. Based on its total purchase value, it could be the lest profitable item. 

* Due to it's reasonable price, Oathbreaker, Last Hope of the Breaking Storm becomes most popular item. Based on its total purchase value, it could also be a potential profitable item.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [480]:
# Dependencies and Setup
import pandas as pd
import numpy as np
#pd.options.display.float_format='${:,.2f}'.format
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [482]:
pd.DataFrame({"Total Players":[purchase_data.SN.nunique()]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [483]:
#Calculate variables
uni_items=purchase_data["Item ID"].nunique()
aver_price=round(purchase_data.Price.mean(),2)
purchase=purchase_data["Purchase ID"].nunique()
rev=purchase_data.Price.sum()
summary=pd.DataFrame({"Number of Unique Items":[uni_items],
                      "Average Price":["$"+str(aver_price)],
                      "Number of Purchases":[purchase],
                      "Total Revenue":["$"+str(rev)]})
summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [484]:
# Remove duplicates
gender=purchase_data[["SN","Gender"]].drop_duplicates()
count=gender["Gender"].value_counts()
percent=round(count/count.sum()*100,2)

#Combine seriesgender_dem=gender_dem.rename(columns={"Gender":"Total Count"})
gender_dem=pd.concat([count,percent],axis=1)
gender_dem.columns=["Total Count", "Percentage of Players"]
gender_dem

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [485]:
purchase=purchase_data[["Gender","Price"]]

purchase_count=purchase.Gender.value_counts()
total=purchase.groupby(['Gender']).sum()
aver_price=purchase.groupby(['Gender']).mean()
aver_person=total.Price/gender_dem["Total Count"]

# Summarize the data
purchase_ana=pd.concat([aver_price,total,aver_person],axis=1,sort=False)

# Rename column names
purchase_ana.columns=["Average Purchase Price", "Total Purchase Value","Avg Total Purchase per Person"]
purchase_ana.insert(0, "Purchase Count",purchase["Gender"].value_counts())

# Format the style

# apply to all columns: purchase_ana=purchase_ana.applymap("${0:.2f}".format)
# apply as default: pd.options.display.float_format='${:,.2f}'.format

purchase_ana=purchase_ana.style.format({"Average Purchase Price":"${:,.2f}",
                                       "Total Purchase Value":"${:,.2f}",
                                       "Avg Total Purchase per Person":"${:,.2f}"})

purchase_ana

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [486]:
#Establish bins for ages
age=purchase_data[['SN','Age']].drop_duplicates()
bins=[0,9,14,19,24,29,34,39,100]
group_name=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age["Category"]=pd.cut(age.Age,bins,labels=group_name)
age_count=age.Category.value_counts()
percent=round(age_count/age_demo['Total Count'].sum()*100,2)

# Combine data together
age_dem=pd.concat([age_count,percent],axis=1)
age_dem.columns=["Total Count","Percentage of Players"]

# Reindex the dataframe
age_dem=age_dem.reindex(group_name)
age_dem

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [487]:
# Extract the related columns
age_purchase=purchase_data[["Age","Price"]]
bins=[0,9,14,19,24,29,34,39,100]
group_name=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_purchase['Category']=pd.cut(age_purchase.Age,bins,labels=group_name)

# Calculate values
purchase_count=age_purchase.Category.value_counts()

# Obtain data by group
price_category=age_purchase.groupby("Category")
aver_price=price_category.mean().Price.map('${:,.2f}'.format)
total_price=price_category.sum().Price.map('${:,.2f}'.format)
aver_person=(price_category.sum().Price/age_demo["Total Count"]).map('${:,.2f}'.format)\

purchase=pd.concat([purchase_count,aver_price,total_price,aver_person],axis=1)
purchase.columns=["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]
purchase=purchase.reindex(["10-14","15-19","20-24","25-29","30-34","35-39","40+","<10"])
purchase

C:\Users\CHENM\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [488]:
purchase=purchase_data[["SN","Price"]].groupby(["SN"])
count=purchase.count()
aver=purchase.mean()
total=purchase.sum()

#combine data together 
spender=pd.concat([count,aver,total],axis=1)
spender.columns=["Purchase Count","Average Purchase Price","Total Purchase Value"]

# display the top 5
top_spender=spender.sort_values(by="Total Purchase Value",ascending=False).head(5)

top_spender=top_spender.style.format({"Average Purchase Price":"${:,.2f}",
                         "Total Purchase Value":"${:,.2f}"})
top_spender

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [489]:
# Extract related columns
raw_data=purchase_data[['Item ID', 'Item Name','Price']]

# Group the data by id and name
raw_data_group=raw_data.groupby(['Item ID',"Item Name"])

# Calculate the values 
purchase_count=raw_data_group.count()
purchase_sum=raw_data_group.sum()
item_price=raw_data_group.mean()

item=pd.concat([purchase_count, item_price, purchase_sum],axis=1)
item.columns=["Purchase Count","Item Price","Total Purchase Value"]


# Display the top 5
top_item=item.sort_values(by="Purchase Count",ascending=False).head(5)

top_item=top_item.style.format({"Item Price":"${:,.2f}",
                         "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [490]:
top_profit=item.sort_values(by="Total Purchase Value",ascending=False).head(5)

top_profit=top_profit.style.format({"Item Price":"${:,.2f}",
                         "Total Purchase Value":"${:,.2f}"})

top_profit